name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  RUST_VERSION: "stable"
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Setup Rust
        id: setup-rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_VERSION }}
          components: clippy,rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: 'rust-cache'
          cache-all-crates: "true"
          cache-on-failure: "true"

      - name: Format
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --no-default-features -- -D warnings

      - name: Test
        run: cargo test
      
      - name: Run sccache stat for check
        shell: bash
        run: ${SCCACHE_PATH} --show-stats
